<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$LAYOUT_TITLE · $CONTENT_TITLE">코디파이</title>
    <!-- 공통 스타일 시트 -->
    <th:block th:replace="~{common/layout/fragments/head :: head}"></th:block>
</head>
<body>
<div id="wrapper">
    <div id="container" class="">
        <!-- 좌측 사이드 메뉴-->
        <th:block th:replace="~{common/layout/fragments/side_bar :: sideBar}"></th:block>
        <!-- 페이지별 컨텐츠 -->
        <div id="contents">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <!-- 공통 푸터 -->
    <th:block th:replace="~{common/layout/fragments/footer :: footer}"></th:block>
</div>
<!-- 공통 자바스크립트 -->
<th:block th:replace="~{common/layout/fragments/scripts :: scripts}"></th:block>
<!-- 페이지별 자바스크립트 -->
<th:block layout:fragment="page_script"></th:block>
</body>
</html>